# 插件设置 基础设置

# eagle library地址,一般以 ".library"结尾  
# eg: /Users/meetqy/Pictures/test.library 
LIBRARY=/Users/qymeet/Pictures/test.library
# 数据库地址
DATABASE_URL=file:${LIBRARY}/eagleuse.db?connection_limit=1
# 开启NSFW 需要安装 @eagleuse/plugin_nsfw 插件 默认开启
PLUGIN_NSFW=true
# 开启API访问eagleuse.db 需要安装 @eagleuse/plugin_api 默认开启
PLUGIN_API=true
# 设置API访问 服务端口
PLUGIN_API_PORT=3002

# 主题设置
# 菜单是否显示回收站
SHOW_TRASH=false