# https://pnpm.io/zh/npmrc#prefer-workspace-packages
prefer-workspace-packages=true

# electron_mirror is used to speed up electron installation
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver


# https://pnpm.io/zh/npmrc#node-linker
node-linker=hoisted

# node_modules move to the root of the project
# shamefully-hoist=true
