@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-y {
  @apply overflow-y-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-neutral/50 scrollbar-track-rounded scrollbar-thumb-rounded;
}

.card-wrapper {
  @apply rounded border border-base-content/10 bg-base-200 px-4;

  .card-row {
    @apply flex justify-between py-3;

    &.compact {
      @apply py-1.5;
    }
  }

  .card-row:not(:last-child) {
    @apply border-b border-base-content/10;
  }

  .card-row > span,
  .card-row > div {
    @apply flex items-center;
  }

  .card-row .right-svg {
    @apply ml-1 h-4 w-4 text-base-content/30;
  }
}

/* windows 窗口透明 */
:root {
  @apply cursor-default bg-transparent;
}
