#root {
  @apply text-base;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

.scrollbar::-webkit-scrollbar {
  @apply w-1 bg-base-200;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-md bg-neutral/20;
}

.list {
  > div {
    @apply h-10 px-4;

    &:not(:last-child) {
      @apply py-2 flex justify-between items-center;
    }

    &:nth-child(2n-1) {
      @apply bg-base-200/40;
    }
  }
}
